.roster-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.roster-container .table-wrap {
  overflow-x: auto;
  position: relative;
}

.roster-container table {
  border-collapse: collapse;
  border: 1px solid #718096;
  background-color: #2d3748;
  width: 100%;
}

.roster-container table thead {
  background-color: #4a5568;
}

.roster-container table thead th:first-child {
  background-color: #000000;
}

.roster-container table th,
.roster-container table td {
  border: 1px solid #4a5568;
  font-weight: normal;
  padding: 12px;
}

.roster-container table th:first-child,
.roster-container table td:first-child {
  position: sticky;
  left: -1px;
  background-color: inherit;
  z-index: 1;
}

.roster-container table small {
  font-size: 0.75rem;
  display: block;
}

.roster-container table tr td:first-child {
  text-align: center;
  font-weight: bold;
}

.roster-container table tr.Morning td:first-child {
  background-color: #ecc94b;
  color: #000000;
}

.roster-container table tr.Evening td:first-child {
  background-color: #822727;
}

.roster-container table tr.Night td:first-child {
  background-color: #2b6cb0;
}

.unassigned-nurses h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.unassigned-nurses ol {
  list-style-type: decimal;
  list-style-position: inside;
  padding: 0 4px;
  margin: 20px 0;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: start;
}

.unassigned-nurses ol li {
  padding: 0;
  margin: 0;
}

.unassigned-nurses ol li::marker {
  color: #718096;
}
